<section >
  <div class="row no-gutter" style="margin-left:15px ; margin-right:25px">

    <header>
      <h1><span>Buyers</span><br/></h1>

      <blockquote class="blockquote">
        <p class="text-muted">
        In this section you will find different options to manage your space buyer. See all your products, and continue sending
        the packages.
        </p>
     </blockquote>

    </header>

    <div class="col-xs-12 col-sm-2 " >

        <aside class="sidebar-left">
          <nav>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">ALL CATEGORIES</li>
                    <li>
                      <a class="active" (click)="ShowOrder()">
                        <i class="icons fa fa-file-text-o"></i> <span>Orders</span>
                      </a>
                    </li>
                    <li>
                      <a (click)="ShowWishList()">
                        <i class="icons fa fa-list"></i> <span>WishList</span>
                      </a>
                    </li>
                    <li>
                      <a (click)="ShowOffers()">
                        <i class="icons fa fa-handshake-o"></i> <span>Offers</span>
                      </a>
                    </li>
                    <li>
                      <a (click)="ShowCoupons()">
                        <i class="icons fa fa-tags"></i> <span>Coupons</span>
                      </a>
                    </li>
                    <li>
                      <a (click)="ShowShipping()">
                        <i class="icons fa fa-plane"></i> <span>Shipping</span>
                      </a>
                    </li>
                </ul>
              </div>
          </nav>
        </aside>
      </div>

    <div class="col-xs-12 col-sm-10">

      <div *ngIf="global === 1">
        <header class="page-title"> My Orders</header><br>
          <div class="dashboard padding">
            <p>Filter by Product:
              <input class="form-control input" [(ngModel)]="filterQuery"/>
            </p><br>

            <table class="table table-striped">
              <tr>
                <th width="20%" class="text-center"> idProduct</th>
                <th width="20%" class="text-center"> Product Name </th>
                <th width="20%" class="text-center"> Date </th>
                <th width="20%" class="text-center"> Details </th>
                <th width="20%" class="text-center"> Seller </th>
              </tr>

              <tr *ngFor="let item of advertisement ">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.date}}</td>
                <td><a href="#">more</a></td>
                <td><i class="icons fa fa-envelope"></i></td>
              </tr>

            </table>

          </div>
      </div>

      <div *ngIf="global === 2" >
        <header class="page-title">My WishList</header><br>
            <div class="dashboard padding">
                <table class="table">
                  <caption>My favorites products</caption>
                  <tr>
                    <td>
                      <img src="" alt="Image laptop" />
                    </td>
                    <td>
                      <h4><a href="#" title="See more information about the laptop">Laptop - 3 GHz - 4 GB RAM</a></h4>
                      <p><a href="#" title="Buy a laptop">Buy:</a> <del>2.990 &euro;</del> <strong>2.599 &euro;</strong></p>
                    </td>
                    <td>
                      <a href="#" title="Delete"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                  </tr>

                  <tr>
                    <td><img src="" alt="Image videocámara" /></td>
                    <td>
                      <h4><a href="#" title="See more information about videocámara">Videocámara - Alta definición 1080p - 60 GB</a></h4>
                      <p><a href="#" title="Comprar la videocámara">Buy:</a> <del>1.099 &euro;</del> <strong>999 &euro;</strong></p>
                    </td>
                    <td>
                      <a href="#" title="Delete"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>

                  </tr>

                  <tr>
                    <td><img src="" alt="Image tv" /></td>
                    <td>
                      <h4><a href="#" title="Ver más información sobre el televisor">Televisor - 46" - Full HD</a></h4>
                      <p><a href="#" title="Comprar el televisor">Buy:</a> <del>1.999 &euro;</del> <strong>1.799 &euro;</strong></p>
                    </td>
                    <td>
                      <a href="#" title="Delete"><button type="button" class="btn-group-xs btn btn-danger">Delete</button></a>
                    </td>
                  </tr>

                  <tr>
                    <td><img src="" alt="Image mobile telephone" /></td>
                    <td>
                      <h4><a href="#" title="Ver más información sobre el móvil">Móvil - 3G - Wi-Fi - 8 GB</a></h4>
                      <p><a href="#" title="Comprar el móvil">Comprar:</a> <del>399 &euro;</del> <strong>349 &euro;</strong></p>
                    </td>
                    <td>
                      <a href="#" title="Delete"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                  </tr>
                </table>
            </div>
      </div>

      <div *ngIf="global === 3" >
        <app-personal-offers-list></app-personal-offers-list>
      </div>

      <div *ngIf="global === 4" >

        <header class="page-title">My Cuppons</header><br>
        <div class="dashboard padding">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a (click)="ShowCouponsGlobal()">SoftArch coupons </a></li>
            <li role="presentation"><a (click)="ShowCouponsSeller()">Seller coupons</a></li>
          </ul>
          <div *ngIf="coupons===1 && Ncoupons<0" >
                <p>No yet coupons :( </p>
          </div>

          <div *ngIf="coupons===2 && Ncoupons<0" >
            <p>No yet coupons  </p>
          </div>
        </div>

      </div>

      <div *ngIf="global === 5" >
        <header class="page-title">My Shipping</header><br>
        <div class="dashboard padding">
        </div>
      </div>

    </div>

  </div>

</section>
