<section class="buyer" xmlns="http://www.w3.org/1999/html">
<header>
  <h1>
    <span>Buyers</span><br/>

  </h1>

  <blockquote class="blockquote">
    <p class="text-muted">
    In this section you will find different options to manage your space buyer. See all your products, and continue sending
    the packages.
    </p>
 </blockquote>


</header>

  <!-- Column first -->
  <div class="row">

      <div class="col-list" >
        <div class="list-group" >
            <h4 class="list-group-item disabled text-center">
              <small class="text-muted">ALL CATEGORIES</small>
            </h4>
          <a class="list-group-item" (click)="ShowOrder()"><i class="icons fa fa-file-text-o" aria-hidden="true"></i>All orders</a>
          <a class="list-group-item" (click)="ShowWishList()"><i class="icons fa fa-list " aria-hidden="true"></i>WishList</a>
          <a class="list-group-item" (click)="ShowOffers()"><i class="icons fa fa-handshake-o" aria-hidden="true"></i>Offers</a>
          <a class="list-group-item" (click)="ShowCoupons()"><i class="icons fa fa-tags" aria-hidden="true"></i>Coupons</a>
          <a class="list-group-item" (click)="ShowShipping()"><i class="icons fa fa-plane" aria-hidden="true"></i>Shipping</a>
        </div>

      </div>

    <div class="col-xs-9">

      <div *ngIf="global === 1">
        <h3 class="highlight"> My Orders </h3>
            <br>
          <table border="1px">
            <th colspan="2">
              Filter by Product:
              <input class="form-control" [(ngModel)]="filterQuery"/>
            </th>

              <tr>
                <th style="width: 20%" class="text-center"> idProduct</th>
                <th style="width: 20%" class="text-center"> Product Name </th>
                <th style="width: 20%" class="text-center"> Date </th>
                <th style="width: 20%" class="text-center"> Details </th>
                <th style="width: 20%" class="text-center"> Seller </th>
              </tr>

          </table>
      </div>

      <div *ngIf="global === 2" >

        <h3 class="highlight"> My WishList </h3>
      </div>

      <div *ngIf="global === 3" >
        <h3 class="highlight"> My Offers </h3>
      </div>

      <div *ngIf="global === 4" >

        <h3 class="highlight"> My Coupons </h3>
      </div>

      <div *ngIf="global === 5" >
        <h3 class="highlight"> My Shippings </h3>
      </div>



    </div>

  </div>

</section>
