<section class="buyer">
<header>
  <h1>Buyers</h1>

  <blockquote class="blockquote">
      <p class="mb-0">
        In this section you will find different options to manage your space buyer. See all your products, and continue sending
        the packages.
      </p>
  </blockquote>

</header>

  <!-- Column first -->
  <div class="row">

      <div class="col-sm-3" >
        <div class="list-group" >
            <h3 class="list-group-item disabled text-center">
              <small class="text-muted">ALL CATEGORIES</small>
            </h3>
          <a href="#" class="list-group-item active">All orders</a>
          <a href="#" class="list-group-item">WishList</a>
          <a href="#" class="list-group-item">Coupons</a>
          <a href="#" class="list-group-item ">Shipping</a>
        </div>

      </div>

      <div class=".col-sm-9 " >
          <h2 class="text-primary">My orders</h2>
          <!--- Search -->

          <form class="navbar-form" role="search">
            <div class="input-group .pull-right" >
              <input type="text" class="form-control" placeholder="Search..." name="srch-term" id="srch-term" autofocus=""[ngModel]="">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>

            <div class="table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Id Order</th>
                    <th>Date Order</th>
                    <th>Name Order</th>
                    <th>Seller</th>
                    <th>Status</th>
                    <th>Price</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>25/02/2004</td>
                    <td>Mouse</td>
                    <td>Ryan Thomas</td>
                    <td>Sending</td>
                    <td>10,00 €</td>
                  </tr>
                  </tbody>
                </table>
                </div>
            </div>

        </div>
    </div>

</section>
