<div class="table">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Id Order</th>
        <th>Date Order</th>
        <th>Name Order</th>
        <th>Seller</th>
        <th>Status</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Richard</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
