<section class="advertisement container">
  <header>
    <h2>Advertisements</h2>
  </header>
  <div *ngIf="advertisements.length === 0">
  No advertisements were found! <a routerLink="/advertisements/new">Create one</a>
</div>
  <div *ngIf="advertisements.length !== 0" class="row">
    <div class="card-container col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let advertisement of advertisements">
      <div class="card">
        <div class="picture" [style.background-image]="'url(' + (advertisementPictures[advertisement.uri] && advertisementPictures[advertisement.uri].content)  + ')'"></div>
        <div class="title">
          <a class="no-decorate" [routerLink]="[advertisement.uri]">
            {{advertisement.title}}
          </a>
        </div>
        <div class="info">
          By <a href="#">{{advertisement.owner}}</a> on {{advertisement.createdAt | date}}
        </div>
        <div class="info-special">
          <a [routerLink]="[advertisement.uri]" class="buy">{{advertisement.price | currency:'USD':true}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
