<div class="loading" *ngIf="!advertisement">Loading...</div>
<section class="getAdvertisement container" *ngIf="advertisement">
  <div class="row" *ngIf="!advertisement">
    Loading...
  </div>
  <div class="row product-basics">
    <div class="col-md-6 photo">
      <img class="photo" *ngIf="picture" [src]="picture.content" />
    </div>
    <div class="col-md-6">
      <h2 class="title">
        {{advertisement.title}}
        <a class="h2Button" routerLink="/advertisements/{{advertisement.getUriId()}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a class="h2Button deleteButton" (click)="deleteAdvertisement(advertisement.uri)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </h2>
      <span class="category">{{advertisement.category}}</span>
      <div class="product-dates">
        <span>Created at: {{advertisement.createdAt | amDateFormat:'YYYY-MM-DD HH:mm'}}</span>
        <span>Modified at: {{advertisement.modifiedAt | amDateFormat:'YYYY-MM-DD HH:mm'}}</span>
      </div>
      <div class="price">{{advertisement.price | currency:'USD':true }}</div>
      <div class="price-details row">
        <div class="col-md-6">
          <input type="checkbox" id="paidShipping" onclick="return false" [attr.checked]="advertisement.paidShipping ? true : null" />
          <label for="paidShipping">Paid Shipping</label>
        </div>
        <div class="col-md-6">
          <input type="checkbox" id="negotiablePrice" onclick="return false" [attr.checked]="advertisement.negotiablePrice ? true : null"  />
          <label for="negotiablePrice">Negotiable Price</label>
        </div>
      </div>
      <div class="action-buttons" *ngIf="purchase">
        <span class="sold">Sold</span>
      </div>
      <div class="action-buttons" *ngIf="!purchase">
        <a routerLink="/advertisements/{{advertisement.getUriId()}}/purchase" class="highlightButton">
          Buy
        </a>
        <button class="highlightButton" (click)="addProduct(advertisement)">Add to Cart</button>
        <a href="#" class="blankButton">Add to Wishlist</a>
        <div *ngIf="advertisement.negotiablePrice && getCurrentUser() != advertisement.owner">
          <app-buyeroffer [advertisement]="advertisement"></app-buyeroffer>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Description</h3>
      {{advertisement.description}}
    </div>
    <div class="col-md-6">
      <div class="row">
        <h3>Owner Info</h3>
        Published by <a href="#">{{advertisement.owner}}</a>
      </div>
      <div class="product-details row">
        <h3>Product details</h3>
        <span>Brand: {{advertisement.brand}}</span>
        <span>Color: {{advertisement.color}}</span>
        <span>Weight: {{advertisement.weight | number: '1.1-2'}}</span>
        <span>Tags: {{advertisement.tags}}</span>
      </div>
    </div>
  </div>
</section>
