<app-loading class="container" *ngIf="!advertisement">Loading...</app-loading>
<section class="getAdvertisement container" *ngIf="advertisement">
  <div class="row product-basics">
    <div class="col-md-6 photo">
      <img class="photo" *ngIf="picture" [src]="picture.content" />
    </div>
    <div class="col-md-6">
      <div class="headerButtonsContainer">
        <h2>
          {{advertisement.title}}
        </h2>
        <div class="buttons" *ngIf="isAdvertisementOwner() && !purchase">
          <a class="iconButton" *ngIf="!isDeleting" routerLink="/advertisements/{{advertisement.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a class="iconButton" *ngIf="!isDeleting" (click)="toggleDeleteAdvertisementConfirm()"><i class="fa fa-trash" aria-hidden="true"></i></a>
          <app-loading class="h2Button loadingButton" *ngIf="isDeleting"></app-loading>
        </div>
      </div>
        
      <span class="category">{{advertisement.category}}</span>
      <form class="delete-confirm" *ngIf="hasDeleteConfirm" (submit)="deleteAdvertisementForm(advertisement.uri)">
        Type in the advertisement title to confirm deletion.
        <input name="confirmation-title" type="text" placeholder="Advertisement title" [(ngModel)]="deleteConfirmText" />
        <input type="submit" value="Delete" />
      </form>
      <div class="product-dates">
        <span>Created at: {{advertisement.createdAt | amDateFormat:'YYYY-MM-DD HH:mm'}}</span>
        <span>Modified at: {{advertisement.modifiedAt | amDateFormat:'YYYY-MM-DD HH:mm'}}</span>
      </div>
      <div class="price">{{advertisement.price | currency:'USD':true }}</div>
      <div class="price-details row">
        <div class="col-md-6">
          <input type="checkbox" id="paidShipping" onclick="return false" [attr.checked]="advertisement.paidShipping ? true : null" />
          <label for="paidShipping">Paid Shipping</label>
        </div>
        <div class="col-md-6">
          <input type="checkbox" id="negotiablePrice" onclick="return false" [attr.checked]="advertisement.negotiablePrice ? true : null"  />
          <label for="negotiablePrice">Negotiable Price</label>
        </div>
      </div>
      <div class="action-buttons" *ngIf="purchase">
        <span class="sold">Sold</span>
      </div>
      <div class="action-buttons" *ngIf="!purchase">
        <button class="highlightButton" (click)="addProduct(advertisement)">Add to Cart</button>
        or
        <a routerLink="/advertisements/{{advertisement.id}}/purchase">purchase now</a>
        <a routerLink="/users/{{getCurrentUser()}}/wishes" class="blankButton" style="margin-top:10px">Add to Wishlist</a>
        <div *ngIf="advertisement.negotiablePrice && getCurrentUser() != advertisement.owner">
          <app-buyeroffer [advertisement]="advertisement"></app-buyeroffer>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Description</h3>
      {{advertisement.description}}
    </div>
    <div class="col-md-6">
      <div class="row">
        <h3>Owner Info</h3>
        Published by <a routerLink="/profile/{{advertisement.owner}}">{{users['/users/' + advertisement.owner]?.displayName || '...'}}</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="product-details col-md-12">
      <h3>Product details</h3>
      <span>Brand: {{advertisement.brand}}</span>
      <span>Color: {{advertisement.color}}</span>
      <span>Weight: {{advertisement.weight | number: '1.1-2'}}</span>
      <span>Tags: {{advertisement.tags}}</span>
    </div>
  </div>
</section>
