<section class="basketProduct">
    <header class="header">
      <h2>Your cart</h2>
    </header>

  <p *ngIf="products.length > 0">
    <span class="message-count"><strong>{{products.length}}</strong> {{products.length === 1 ? 'product' : 'products'}}</span>
  </p>

  <p *ngIf="products.length==0">
    <span class="message-count">No products</span>
  </p>

  <div *ngIf="products.length > 0">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of products">
        <div class="basketProduct">
          <p>
            <strong>Name:</strong>
            <a [routerLink]="[product.advertisement.uri]">{{product.advertisement.title}}</a>
            <a class="glyphicon glyphicon-remove"(click)="deleteProduct(product)"></a>
          </p>
          <p><strong>Price:</strong> {{product.advertisement.price}}</p>
        </div>
      </li>
    </ul>
    
    Total price: <strong>{{getTotal() | currency:'USD':true }}</strong>
    <button class="highlightButtonTest" *ngIf="products.length > 0" (click)="redirectToPurchase()">Buy</button>
  </div>
</section>