<section class="wishlist" >
  <!-- Loading
  <app-loading class="container" *ngIf="loading"></app-loading>
-->
  <!-- Success -->
  <div class="page-box container">
    <h3><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> Add product to Wishlist completed!</h3>
      <button type="button" class="btn btn-warning " style="margin-right: 10px" routerLink="/buyers">View WishList</button>
      <button type="button" class="btn btn-default " routerLink="/advertisements">Continue Shopping</button>
  </div>


</section>
