<header class="navbar-container">
  <nav>
    <ul>
      <li class="active"><a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/advertisements" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Advertisements</a></li>
      <li><a routerLink="/seller-offer" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">SellerOffer</a></li>
      <li><a routerLink="/pictures" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Pictures</a></li>
      <!-- <li><a href="#contact">Contact</a></li> // move to footer -->
      <li><a href="#">Sign In / Sign Up</a></li>
      <li class="highlight"><a href="#">Post Your Advertisement</a></li>
    </ul>
  </nav>
  <a class="no-decorate" routerLink="/">
    <div class="logo">
      Soft<span class="highlight">Arch</span> <i class="highlight fa fa-shopping-bag fa-4"></i>
    </div>
  </a>
</header>
