<header>
  <div class="navbar-container">
    <a id="home" class="no-decorate" routerLink="/">
      <span class="logo">
        <span class="text">
          Soft<span class="highlight">Arch</span>
        </span>
        <i class="highlight fa fa-shopping-bag fa-4"></i>
      </span>
    </a>
    <nav>
      <ul>
        <li id="nav-search"><app-search-ad></app-search-ad></li>

        <li>
          <a routerLink="/messages" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span class="visible-xs"><i class="fa fa-bell fa-2" aria-hidden="true"></i></span>
            <span class="hidden-xs">Messages</span>
            <span class="notification-icon" *ngIf="unreadMessages?.length > 0"><span class="badge">{{unreadMessages?.length}}</span></span>
          </a>

        <li class="dropdown"><app-auth0 [appRouter]="router"></app-auth0></li>

        <li *ngIf="authenticated()">

          <a routerLink="/cart" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span class="visible-xs"><i class="fa fa-shopping-cart fa-2" aria-hidden="true"></i></span>
            <span class="hidden-xs">Cart <span class="notification-icon badge" *ngIf="countBasketProducts() > 0">{{countBasketProducts()}}</span></span>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-2" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/advertisements/new" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Sell</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/buyers" routerLinkActive="active">Buyers</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/register-sellers" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Register sellers</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div id="nav-search-expanded" class="search-expanded collapse">
    <form class="inline">
      <input type="text" placeholder="Blue house" />
    </form>
  </div>
</header>
