<!DOCTYPE html>
<html lang="en">
  <section class="buyeroffer">
    <header>
      <h2>Manage your offers</h2>

      <blockquote class="blockquote">
        <p class="mb-0">
          Here you can access to the offers done by other users to you products:
        </p>
      </blockquote>

    </header>

     <div class="row" *ngIf="advertisements.length !== 0">
      <div class="col-sm-5" >
        <div class="list-group" >
          <h3 class="list-group-item disabled text-center">
            <small class="text-muted">Your Products</small>
          </h3>
          <div *ngFor="let advertisement of advertisements">
            <div *ngIf="advertisement.owner == getCurrentUser()">
              <button class="column_button" onclick="">{{advertisement.title}}</button>
            </div>
          </div>


        </div>
      </div>

      <div class="table">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Product</th>
              <th>Date</th>
              <th>Initial Price</th>
              <th>Offers</th>
            </tr>
            </thead>
            <tbody *ngFor="let advertisement of advertisements" class="row">
              <tr *ngIf="advertisement.owner == getCurrentUser()">
                <td>{{advertisement.title}}</td>
                <td>{{advertisement.createdAt}}</td>
                <td>{{advertisement.price}}€</td>
                <tbody *ngFor="let offer of buyeroffers">
                  <td>{{offer.value}}€ by user: {{offer.buyer_id}}</td>
                </tbody>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="advertisements.length === 0">
      You are not selling products yet!
    </div>
  </section>
</html>

