<section class="buyeroffer">
  <header>
    <h2>Offer List Information</h2>

    <blockquote class="blockquote">
      <p class="mb-0">
        Here, there is all historic of your offers and all the information related to them.
      </p>
      <p class="mb-0">
        In order to make any change, you've to visit the next section: <button class="btn btn-info" routerLink="/updateOffer" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Offer Management</button>
      </p>
    </blockquote>

  </header>

  <div class="row">

    <div class="col-sm-3" >
      <div class="list-group">
        <h3 class="list-group-item disabled text-center">
          <small class="text-muted">Advertisements Offer Summary</small>
        </h3>
        <div *ngFor="let buyeroffer of buyeroffers">
          <button class="column_button" onclick="" *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.advertisement_title}}</button>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="table-responsive update_table">
        <table class="table">
          <thead class="table_head">
          <tr>
            <th>Advertisement</th>
            <th>Seller</th>
            <th>Initial Price</th>
            <th>My Offer</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody *ngFor="let buyeroffer of buyeroffers">
            <tr>
              <td *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.advertisement_title}}</td>
              <td *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.advertisement_seller}}</td>
              <td *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.advertisement_iniPrice}}</td>
              <td *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.value}}</td>
              <td *ngIf="getUser()==buyeroffer.buyer_id">{{buyeroffer.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
