<section class="buyeroffer">
  <header>
    <h2>Personal Offers List</h2>

    <blockquote class="blockquote">
      <p class="mb-0">
        Here, there is all historic of your offers about the product: _______
      </p>
    </blockquote>

  </header>

  <div class="row">

    <div class="col-sm-3" >
      <div class="list-group" >
        <h3 class="list-group-item disabled text-center">
          <small class="text-muted">Offered Products</small>
        </h3>
        <button class="column_button" onclick="">Product 1</button>
        <button class="column_button" onclick="">Product 2</button>
        <button class="column_button" onclick="">Product 3</button>
        <button class="column_button" onclick="">Product 4</button>
      </div>
    </div>

    <div class="table">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Advertisement</th>
            <th>Seller</th>
            <th>Initial Price</th>
            <th>My Offer</th>
            <th>Date</th>
            <th>Management</th>
          </tr>
          </thead>
          <tbody *ngFor="let buyeroffer of buyeroffers">
            <tr>
              <td>{{buyeroffer.advOffers}}</td>
              <td>{{buyeroffer.advertisement_seller}}</td>
              <td>{{buyeroffer.advertisement_iniPrice}}</td>
              <td>{{buyeroffer.value}}</td>
              <td>{{buyeroffer.date}}</td>
              <td><button class="btn btn-danger" (click)="deleteBuyerOffer(buyeroffer)">Delete</button>
                <button class="btn btn-danger" (click)="deleteBuyerOffer(buyeroffer)">Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
