<section class="buyeroffer">
  <header>
    <h2>Personal Offers List</h2>

    <blockquote class="blockquote">
      <p class="mb-0">
        Here, there is all historic of your offers about the product: _______
      </p>
    </blockquote>

  </header>

  <div class="row">

    <div class="col-sm-3" >
      <div class="list-group" >
        <h3 class="list-group-item disabled text-center">
          <small class="text-muted">Offered Products</small>
        </h3>
        <button class="column_button" onclick="">Product 1</button>
        <button class="column_button" onclick="">Product 1</button>
        <button class="column_button" onclick="">Product 1</button>
        <button class="column_button" onclick="">Product 1</button>
      </div>
    </div>

    <div class="table">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Initial Price</th>
            <th>Offer</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2016/11/16</td>
            <td>100</td>
            <td>80</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
