
<section class="register-seller">
    <header>
      <h2>Sing In/Sing Up</h2>

      <button class="btn btn-outline-primary" (click)="DivSingUp = !DivSendMessage">
        Sing Up
      </button>

      <div [hidden]="!DivSingUp">
        <p>Name:<input type="text" name="name" [(ngModel)]="newSeller.name"></p>
        <p>Mail:<input type="text" name="mail" [(ngModel)]="newSeller.mail"></p>
        <p>Password: <input type="text" name="password" [(ngModel)]="newSeller.password"></p>
        <p><button (click)="addSeller()">Done</button></p>
      </div>
    </header>

</section>
