<header>

  <!--
  <li id="nav-search">
    <form class="hidden-xs inline" (submit)="searchAdvertisementByTitle() || searchAdvertisementByTag() || searchAdvertisementByCategory()">
      <input type="text" placeholder="Need something?" autofocus [(ngModel)]="searchInput"/>
    </form>
  </li>
  -->
  <form id="nav-search" class="row-search" (submit)="submitSearch()">
    <div class="input-group">
      <input type="text" name="name" placeholder="Need something?" autofocus [(ngModel)]="searchInput" />
      <!-- <input id='search-input' type="text" class="search" placeholder="Need something?" #field (keyup)="handleKeyUp(field.value)"/> -->
    </div>
  </form>

</header>

