input[type=text] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}
button {
  padding:5px 15px;
  background:#c4cbd2;
  border:0 none;
  border-radius: 5px;
}
