<section class="message">
  <header class="header">
    <h2>Messages</h2>
    <!-- new message -->

    <button (click)="DivSendMessage = !DivSendMessage">
      Write a new message
    </button>

    <div [hidden]="!DivSendMessage">
      <p><input type="text" name="title"  [(ngModel)]="newMessage.title"></p>
      <p><input type="text" name="body"  [(ngModel)]="newMessage.body"></p>
      <p><input type="text" name="destination"  [(ngModel)]="newMessage.destination"></p>


      <p><button (click)="addMessage()">Send</button></p>
    </div>

    <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  </header>
  <h3>Message board</h3>

  <p *ngIf="messages.length > 0">
    <span class="message-count"><strong>{{messages.length}}</strong> {{messages.length == 1 ? 'message' : 'messages'}}</span>
  </p>

  <p *ngIf="messages.length == 0">
    <span class="message-count">No messages</span>
  </p>

  <ul class="list-group" *ngIf="messages.length > 0">
    <li class="list-group-item" *ngFor="let message of messages">
      <div class="message">
        <h4>To: {{message.destination}}</h4>
        <h4>Title: {{message.title}}</h4>
        <h4>Message: {{message.body}}</h4>
        <button class="alert-danger" (click)="removeMessage(message)">Delete</button>
      </div>
    </li>
  </ul>

</section>
