<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <span class="visible-xs"><i class="fa fa-user" aria-hidden="true"></i></span>
  <span class="hidden-xs">
    <span *ngIf="isLoggedIn"><i class="fa fa-user" aria-hidden="true"></i> {{getCurrentUserName()}}</span>
    <span *ngIf="isLoggedIn===false"><i class="fa fa-user" aria-hidden="true"></i>My account</span>
  </span>
</a>

<ul class="dropdown-menu">
  <!-- Not logged in -->
  <li *ngIf="!isLoggedIn()">
    <a class="no-decorate" href="#" (click)="showLoginModal()">Sign in</a>
  </li>

  <!-- Logged in -->
  <li *ngIf="isLoggedIn()">
    <a href="/buyers" >Buyer</a>
    <a href="#" >Seller</a>
    <a href="#" (click)="logout()">Log out</a>
  </li>
</ul>

<!-- Sign in Modal -->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Login Form" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideLoginModal(username, password)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Please, sign in...</h4>
      </div>
      <div class="modal-body">

        <alert *ngIf="errorMessage" type="danger">{{ errorMessage }}</alert>

        <form class="form-signin">
          <label for="username" class="sr-only">User</label>
          <input type="text" id="username" class="form-control" placeholder="User Name" required autofocus #username>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" required #password>
          <p></p>
          <button class="btn btn-lg btn-primary btn-block" type="button"
                  (click)="login(username, password)">Sign in</button>
        </form>

      </div>
    </div>
  </div>
</div>
