<div class="row no-gutter">
  <div class="col-xs-12 col-sm-2 sidebar">
    <nav>
      <ul>
        <li class="header">My account</li>
        <li class="active">Dashboard</li>
        <li>Seller</li>
        <li>
          <ul>
            <li>Offers</li>
            <li>Purchases</li>
          </ul>
        </li>
        <li>Buyer</li>
        <li>
          <ul>
            <li>Offers</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-10">
    <section>
      <header class="page-title">
        Account overview
      </header>

      <div class="container dashboard">
        <h2>Admin Nimda</h2>

        <h4>
          General
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </h4>
        <div class="box">
          <form>
            <div class="form-group">
              <label class="col-sm-2">Username</label>
              <div class="col-sm-10">
                <input type="text" value="admin" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2">Email</label>
              <div class="col-sm-10">
                <input type="text" value="admin@example.com" />
              </div>
            </div>
          </form>
        </div>

        <h4>
          Security
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </h4>
        <div class="box">
          <form>
            <div class="form-group">
              <label class="col-sm-2">Password</label>
              <div class="col-sm-10">
                <input type="password" />
              </div>
            </div>
          </form>
        </div>

        <h4>
          Personal
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </h4>
        <div class="box">
          <form>
            <div class="form-group">
              <label class="col-sm-2">Birthday</label>
              <div class="col-sm-10">
                <input type="text" value="1970-1-1" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2">Country</label>
              <div class="col-sm-10">
                <input type="text" value="" />
              </div>
            </div>
          </form>
        </div>
      </div>

    </section>
  </div>
</div>
