<div class="row no-gutter">
  <div class="col-xs-12 col-sm-3 sidebar">
    <nav>
      <ul>
        <li class="header">My account</li>
        <li>Dashboard</li>
        <li>Seller</li>
        <li>
          <ul>
            <li>Offers</li>
            <li>Purchases</li>
          </ul>
        </li>
        <li>Buyer</li>
        <li>
          <ul>
            <li>Offers</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-9">
    <section>
      <header class="page-title row">
        Overview
      </header>
      <h3>Admin Nimda</h3>

      <h4>General</h4>
      <div class="box">
        <div class="row">
          Username: admin
        </div>
        <div class="row">
          Email: admin@example.com
        </div>
      </div>

      <h4>Personal</h4>
      <div class="box">
        <div class="row">
          Birthday: 1970-1-1
        </div>
        <div class="row">
          Country:
        </div>
      </div>
    </section>
  </div>
</div>