/* global styles */
@import url('https://fonts.googleapis.com/css?family=Lato');

$color: #333;
$bgColor: #fcfcfc;
$pageComponentsMargin: 20px;

html, body {
  background-color: $bgColor;
  color: $color;
  font-family: 'Lato', serif;
  font-weight: 400;
}

a.no-decorate {
  &, &:link, &:hover, &:active {
    color: $color;
    text-decoration: none;
  }
}
