/* global styles */
@import url('https://fonts.googleapis.com/css?family=Lato');

$color: #333;
$bgColor: #fcfcfc;
$navBgBorderColor: #e2e2e2;
$highlightColor: #1a99aa;
$highlightActiveColor: #1fb3c6;
$pageComponentsMargin: 20px;

@mixin perfectBackground {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  background-color: $bgColor;
  color: $color;
  font-family: 'Lato', serif;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

a.no-decorate {
  &, &:link, &:hover, &:active {
    color: $color;
    text-decoration: none;
  }
}

.highlightButton {
  @extend a.no-decorate;

  border: 0;
  border-radius: 2px;
  background-color: $highlightColor;
  box-shadow:none;
  color: #fff;
  display: block;
  padding: 7px 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;

  &:link, &:hover, &:active {
    color: #fff;
  }

  &:hover {
    background-color: $highlightActiveColor;
  }
}

.highlightButton.big {
  padding-top: 15px;
  padding-bottom: 15px;
}

.blankButton {
  @extend a.no-decorate;

  border: 2px solid $highlightColor;
  border-radius: 2px;
  background-color: #fff;
  box-shadow:none;
  color: $color;
  display: block;
  padding: 7px 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;

  &:hover {
    background-color: $highlightColor;
    color: #fff;
  }
}

.box {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background-color: #fff;
  padding: 15px;

  form .form-group {
    margin: 0;
    padding: 0;
  }
}

.min-padding {
  padding: 15px;
}

.h2Button {
  @extend a.no-decorate;

  border-radius: 2px;
  background-color: #ced6dd;
  font-size: 15px;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 3px;

  &:hover {
    background-color: #dbe3ea;
  }
}

a.buy {
  @extend .highlightButton;

  &::before {
    content: 'BUY ';
  }
}

.full-height {
  height: 100%;
}

.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

form {
  .form-control {
    border-radius: 1px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
  }

  textarea.form-control {
    height: 88px;
  }

  label {
    text-transform: capitalize;

    &::after {
      content: ":";
    }
  }

  .form-section {
    background-color: #fff;
    padding: 15px;
    margin: 5px 0 10px 0;
  }

  .form-group {
    margin-top: 25px;

    label {
      margin-top: 10px;
    }

    input[type=text]:focus, textarea:focus {
      box-shadow: none;
      border: 1px solid #51cbee;
    }
  }

  .form-group::after {
    @extend .clearfix;
  }

  .form-group + .form-group {
    margin-top: 20px;
  }
}

form.inline {
  display: inline;
  margin: 0;
  padding: 0;

  input[type=text] {
    padding: 15px;
  }
}

.form-group .comment {
  font-style: italic;
}

.card-container {
  display: inline-block;

  .card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 400px;
    margin: 15px 15px 15px 0;

    .picture {
      @include perfectBackground;
      background-color: #fff;
      flex: 1;
      width: 270px;
    }

    .title, .info-special {
      padding: 10px;
    }

    .title {
      font-weight: bold;
    }

    .info {
      padding: 10px 5px;
    }
  }
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.sidebar {
  border-right: 1px solid $navBgBorderColor;
  height: 100%;

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 6px 13px;
  }

  li.active {
    border-left: 5px solid $highlightColor;
  }

  nav > ul > li {
    margin-bottom: 4px;
  }

  nav > ul > li > ul {
    margin-bottom: 5px;

    >li {
      font-size: 0.9em;
    }
  }

  li li {
    padding: 6px 17px;
  }

  li.header {
    display: block;
    background-color: #e5e5e5;
    border-bottom: 1px solid $navBgBorderColor;
    font-size: 1.2em;
    padding: 13px;
  }
}

.page-title {
  background-color: $highlightColor;
  color: $bgColor;
  border-bottom: 1px solid $highlightColor;
  font-size: 1.2em;
  padding: 13px 20px;
  font-weight: 600;
}

* > .display-on-hover {
  visibility: hidden;
}

*:hover > .display-on-hover {
  visibility: visible;
}
